.page-container {
  height: 100%;
}

.sidebar {
  height: 100%;
  width: 15%;
  min-width: 200px;
  background: rgb(0, 0, 0);
  position: fixed;
  top: 0;
}

.sideBar-active {
  left: -155px;
  transition: all 0.5s ease 0s;
}

.sideBar-not-active {
  left: -10px;
  transition: all 0.5s ease 0s;
}

.list-tiem {
  font-family: sans-serif;
  font-size: 20px;
  color: #ffffff;
  padding: 20px;
  border-bottom: 1px solid #444444;
}

.logo {
  width: 10%;
}

.menu-bar {
  width: 100%;
  background: rgb(0, 0, 0);
  height: 10%;
  min-height: 60px;
  text-align: center;
}

.list-item-menu-bar {
  display: flex;
  width: 80%;
  margin-left: 10%;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.item-menu-bar {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: #ffffff;
  margin: 2%;
}

.menu-icon {
  font-size: 40px;
  color: white;
}

.div-icon {
  display: flex;
}

.div-menu-icon {
  flex: 1;
  text-align: left;
  padding-left: 20px;
}

.div-close-icon {
  padding-right: 20px;
  text-align: right;
  flex: 1;
}

.div-content {
  background: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none !important;
  margin-bottom: 5px;
}

a:hover {
  opacity: 0.6;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 14px;
  font-family: "Roboto";
  font-style: "normal";

  text-align: left;
  background-color: #ffffff;
  border-radius: 4px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .link {
  opacity: 0.5;
}

.div-dropdown-click {
  display: grid;
  padding: 5px;
}

.ic-arrow {
  color: #ffffff;
  position: absolute;
  right: 10%;
}

.div-title-item {
  display: flex;
}
