<div class="page-container">
  <div class="menu-bar" *ngIf="!isMobile">
    <div class="list-item-menu-bar">
      <div class="item-menu-bar">
        <a routerLink="/" routerLinkActive="active">Trang chủ</a>
      </div>
      <div class="item-menu-bar">
        <div class="dropdown">
          <a class="link" routerLink="/product" routerLinkActive="active">Vang cao cấp</a>
          <div class="dropdown-content">
            <a href="#">MarGaux Aoc</a>
          </div>
        </div>
      </div>
      <div class="item-menu-bar">
        <div class="dropdown">
          <a class="link" routerLink="/product" routerLinkActive="active">Rượu vang</a>
          <div class="dropdown-content">
            <a href="#">Vang ý</a>
            <a href="#">Vang Chile</a>
            <a href="#">Vang Pháp</a>
            <a href="#">Vâng Tây Ban Nha</a>
            <a href="#">Vang Mỹ</a>
            <a href="#">Vang Úc</a>
            <a href="#">Vagn Nam Phi</a>
          </div>
        </div>
      </div>
      <div class="item-menu-bar">
        <div class="dropdown">
          <a class="link" routerLink="/product" routerLinkActive="active">Bia nhập khẩu</a>
          <div class="dropdown-content">
            <a href="#">Bia Bỉ</a>
            <a href="#">Bia Tiệp</a>
            <a href="#">Bia Đức</a>
            <a href="#">Bia Nga</a>
            <a href="#">Bia Hà Lan</a>
            <a href="#">Bia Nhật</a>
            <a href="#">Bia Mỹ</a>
          </div>
        </div>
      </div>
      <div class="item-menu-bar">
        <div class="dropdown">
          <a class="link" routerLink="/product" routerLinkActive="active">Champagne</a>
          <div class="dropdown-content">
            <a href="#">Bottega</a>
          </div>
        </div>
      </div>
      <div class="item-menu-bar">
        <a routerLink="/contact" routerLinkActive="active">Liên hệ</a>
      </div>
    </div>
  </div>
  <div class="sidebar {{!isOpenMenu ? 'sideBar-active' : 'sideBar-not-active'}}" *ngIf="isMobile">
    <div class="div-close-icon">
      <mat-icon class="menu-icon" (click)="onChangeMenu()" *ngIf="!isOpenMenu">menu</mat-icon>
      <mat-icon class="menu-icon" (click)="onChangeMenu()" *ngIf="isOpenMenu">close</mat-icon>
    </div>
    <div class="list-items" *ngIf="isOpenMenu">
      <div class="list-tiem" *ngFor="let itemMenu of listItemMenuMobile" (click)="onShowSubItems(itemMenu)">
        <div class="div-title-item">
          <a routerLink="{{itemMenu.link}}" routerLinkActive="active" (click)="onChangeMenu()">{{itemMenu.title}}</a>
          <mat-icon class="ic-arrow" *ngIf="!itemMenu.isOpen && itemMenu.listSubItem.length > 0">keyboard_arrow_right</mat-icon>
          <mat-icon class="ic-arrow" *ngIf="itemMenu.isOpen && itemMenu.listSubItem.length > 0 ">keyboard_arrow_down</mat-icon>
        </div>
        <div *ngIf="itemMenu.isOpen" class="div-sub-item-list" [@enterAnimation]>
          <div class="div-dropdown-click" *ngFor="let subItem of itemMenu.listSubItem">
            <a href="{{subItem.href}}">{{subItem.subName}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-content" [style.height]="heightContent" [style.width]="widthContent"
    [style.margin-left]="marginLeftContent">
    <router-outlet></router-outlet>
  </div>
</div>
