<div class="div-container">
    <div class="row div-product">
        <div class="col-3 col-s-6 div-row-product" *ngFor="let product of products">
            <div class="div-product-img">
                <img class="img-product" src="{{product.img}}" />
            </div>
            <div class="div-product-nm">
                {{product.name}}
            </div>
            <div class="div-product-price">
                {{product.price | number}} đ
            </div>
        </div>
    </div>
</div>
