.div-container {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  .ng-image-slider {
    height: 50% !important;
  }
  .ng-image-slider-container .main {
    height: 100%;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.div-row-product {
  padding: 5%;
  border: 1px solid #e0e0e0;
}

.div-product-nm {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";
  text-align: center;
}

.div-product-price {
  font-size: 14px;
  text-align: center;
  font-style: normal;
  color: red;
  font-family: "Roboto";
  font-weight: 500;
}

.div-product {
  width: 80%;
  margin-left: 10%;
}

.img-product {
  width: 100%;
}
