<div class="div-container">
  <div class="row div-product" style="margin-top: 3%;">
    <div class="col-6 col-s-12">
      <img class="img-advertise" src="https://ruoutot.net/uploads//settings/4/1615888221-anh-bia-web-1.jpg"/>
    </div>
    <div class="col-6 col-s-12">
      <h3 class="title-content">Lý do bạn nên uống rượu vang</h3>
      <p class="content">
        Bạn có biết, Pháp là đất nước tiêu thụ rượu vang lớn thứ 2 thế giới, người Pháp làm việc rất ít chỉ 35 giờ mỗi
        tuần, người Pháp sử dụng những đồ ăn có chất béo rất nhiều nhưng tại sao họ vẫn khỏe mạnh, trẻ đẹp. Đó là do tác
        dụng của rượu vang nho khi sử dụng đều đặn và thường xuyên – điều này đã đem lại nhiều tác dụng tích cực cho
        người Pháp.

        Trong tất cả các loại đồ uống có cồn tại Pháp, rượu vang được xếp ở vị trí đầu tiên với 49%, tiếp đến là bia và
        champagne. Rượu vang dường như đã trở thành nét văn hóa đặc trưng của người Pháp, họ có thể sử dụng vang trong
        đời sống hằng ngày, trong các bữa tiệc hội họp người thân, gặp mặt bạn bè.
      </p>
      <h3 class="title-content">Tư vấn mua hàng</h3>
      <p class="info-seller">
        Mr Dũng: 0976.455.586
      </p>
      <p class="info-seller">
        HotLine: 0868.899.686
      </p>
      <p class="sms-viber-zalo">
        (CALL-SMS-ZALO-VIBER)
      </p>
    </div>
  </div>
  <div class="row div-product" style="margin-top: 3%;">
    <div class="col-3 col-s-6 div-row-product" *ngFor="let product of products">
      <div class="div-product-img">
        <img class="img-product" src="{{product.img}}"/>
      </div>
      <div class="div-product-nm">
        {{product.name}}
      </div>
      <div class="div-product-price">
        {{product.price | number}} đ
      </div>
    </div>
  </div>
</div>
